<h1>Catalog</h1>

<div class="row">
  <div class="col col-6">
      <table class="table">
        <tr>
          <th>Top Categories</th>
          <td>
            <% @stats.top_categories.each do |category| %>
              <%= link_to category.title, category %>(<%= category.items_sold %>)
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Top Items</th>
          <td>
            <% @stats.top_items.each do |item| %>
              <%= link_to item.title, item %>(<%= item.sold %>)
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Top Users</th>
          <td>
            <% @stats.top_users.each do |user| %>
              <%= link_to user.name, user %>(<%= user.sold %>)
            <% end %>
          </td>
        </tr>
        <tr><th>Total Items</th><th><%= @stats.items_count %></th></tr>
        <tr><th>Total Users</th><th><%= @stats.users_count %></th></tr>
        <tr><th>Total Orders</th><th><%= @stats.orders_count %></th></tr>
      </table>
  </div>
</div>

<table class="table">
  <tr>
    <th>Category</th>
    <th>Items</th>
    <th>Sold Items</th>
  </tr>
  <% @categories.map { |c| [c, CategoryStats.new(c)] }.each do |category, stats| %>
    <tr>
      <td><%= link_to category.title, category %></td>
      <td><%= stats.items_count %></td>
      <td><%= stats.items_sold %></td>
    </tr>
  <% end %>
</table>

<%= paginate @categories %>
