<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<table id="categories" class="table table-striped">
  <tr>
    <th scope="col">title</th>
    <th scope="col">Active?</th>
    <th scope="col">buttons</th>
  </tr>
  <% @categories.each do |category| %>
    <tr class="<%= !category.active? ? 'table-warning' : '' %>">
      <td><%= category.title %></td>
      <td><%= link_to category.active?.to_s, activate_category_path(category), class: 'activate-button' %></td>
      <td><%= link_to "Show this category", category %></td>
    </tr>
  <% end %>
</table>

<%= link_to new_category_path, class: 'btn btn-primary' do %>
  <%= bootstrap_icon "plus-square" %>
  New category 
<% end %>

