<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>


<table class="table">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Sold</th>
    <th>Sold, $</th>
    <th>Orders</th>
  </tr>
  <% @category.items.map { |item| [item, ItemStats.new(item)] }.each do |item, stats| %>
    <% cache item do %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td><%= item.price %></td>
        <td><%= stats.sold_quantity %></td>
        <td><%= number_to_currency stats.sold %></td>
        <td>
          <%= stats.orders %>
          <ul>
            <% item.orders.each do |order| %>
              <% cache order do %>
                <li>#<%= order.id %> <%= l order.created_at %>, <%= order.user.email %>, <%= number_to_currency order.price %></li>
              <% end %>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
